/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

/* Login Heading */
.login-h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}



/* Form Group */
.form-group {
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Login Input */
.login-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid;
  margin-bottom: 1rem;
}

.login-input:hover{
  border: 2px solid #007bff;
}

.token-label{
  color: red;
  margin-top: 1rem;
}

/* Login Button */
.login-button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #2f2e2e;
  color: #fff;
  cursor: pointer;
}

.login-button:hover{
  background-color: #525050;
}

/* Already have an account Link */
a {
  margin-top: 1rem;
  color: #9ea4ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  /* Login Form */
  .login-form {
    width: 50%;
  }
}
